
    body{
        font-family: 'Roboto', sans-serif;
        margin: 0;
    
    #page{
        
        width: 100%;
        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
        h1{
            font-family: 'Raleway', sans-serif;
            font-family: 'Shrikhand', cursive;
            
        }
    }
}

